<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>Leeven</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		{{#if isproduction}}
	    <link rel='stylesheet' href='/stylesheets/style.min.css' />
	    {{else}}
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	    {{/if}}
	</head>
	<body class="body-editor">
		{{{body}}}
		<div class="ui modal small tip-modal">
			<div class="header"></div>
			<div class="content"></div>
		</div>
		{{!-- /.tip-modal --}}

		{{> script }}
	</body>
</html>