<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Leeven - oops</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	{{#if isproduction}}
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    {{else}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{/if}}
</head>
<body>
	{{{body}}}
</body>
</html>