<section class="page-team">
	<div class="container">
		<div class="option-holder">
			<div class="float-right">
				<a href="/team/create" class="ui green button">
				  <i class="add icon"></i>
				  <span class="text">新建团队</span>
				</a>
			</div>
		</div>
		
		<div class="team-list ui segment">
			{{#each teams}}
			<a class="segment-team" data-team="{{id}}">
				{{name}}
				{{#if active}}
				<i class="flag icon green float-right"></i>
				{{/if}}
			</a>
			{{/each}}
		</div>

	</div>
</section>