<section class="page-setting">
	<div class="container">
		<div class="ui top attached tabular menu">
		  	<a href="/setting" class="item">
		    	基本信息
		  	</a>
		  	<a class="active item">
		    	修改头像
		  	</a>
		  	<a href="/setting/pwd" class="item">
		    	修改密码
		  	</a>
		</div>
		<div class="ui green segment">
			修改头像
      	</div>
	</div>
</section>

{{#if isproduction}}
    <script src="/javascripts/pro/setting.min.js"></script>
{{else}}
    <script src="/javascripts/sub/setting.js"></script>
{{/if}}