<section class="page-setting">
	<div class="container">
		<div class="ui top attached tabular menu">
		  	<a class="active item">
		    	基本信息
		  	</a>
		  	<a href="/setting/avatar" class="item">
		    	修改头像
		  	</a>
		  	<a href="/setting/pwd" class="item">
		    	修改密码
		  	</a>
		</div>
		<div class="ui blue segment">
			基本信息
      	</div>
	</div>
</section>