* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    font-family: STXihei, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%
}
body {
    margin: 0;
    padding-top: 42px;
}
a {
    text-decoration: none;
    color: #333;
}
.login-layout {
    background: #eee;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.leeven-header {
    top: 0;
    left: 0;
    .brand {
        padding: 0.35em 0.95em !important;
        >img {
            width: 1.5em;
            height: 1.5em;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-duration: .1s;
            -moz-animation-duration: .1s;
            animation-duration: .1s;
           
            &:hover{
                -webkit-animation-name: tada;
                -moz-animation-name: tada;
                animation-name: tada;
            }
        }
    }
    .user-dropdown {
        padding: 0.35em 0.95em !important;
    }
}
.leeven-footer {
    text-align: center;
    color: #ccc;
    font-size: .8em;
}
.option-holder {
    padding: 0 10px;
    margin: 0 0 20px;
    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

.md-file {
    word-wrap: break-word;
    line-height: 1.2em;
    color: #333;

    h1, h2, h3, h4, h5, h6 {
        position: relative;
        margin-top: 1em 0;
        font-weight: bold;
        line-height: 1.4;
    }
    ul, ol{
        padding-left: 2em;
        ul, ol{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    li > p {
        margin-top: 1em;
    }
    dl{
        padding: 0;
        dt {
            padding: 0;
            margin-top: 1em;
            font-size: 1em;
            font-weight: bold;
        }
        dd{
            padding: 0 16px;
            margin-bottom: 1em;
        }
    }

    blockquote{
        padding: 0 1em;
        color: #777;
        border-left:4px solid #ddd;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    table{
        display: block;
        width: 100% ;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;
        border-collapse: collapse;
        border-spacing: 0;
        th{
            font-weight: bold;
        }
        tr{
            border: 1px solid #ccc;
        }
        th, td{
            padding: .4em .8em;
            border: 1px solid #ddd;
        }
    }

    img{
        max-width: 100%;
    }

    pre{
        word-break: normal;
        word-wrap: normal;
        padding: 16px;
        overflow: auto;
        font-size: 90%;
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: 3px;
        >code{
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
        code, tt{
            display: inline;
            max-width: initial;
            padding: 0;
            margin: 0;
            overflow: initial;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
            &:before, &:after{
                content: normal;
            }
        }
    }

}
