.page-projects {
    margin-top: 40px;
    .list-holder {
        margin: 0 10px;
        .items {
            >.item {
                width: 173px;
                min-height: 100px;
                padding: 0;
                overflow: hidden;
                .title{
					background: #E8E8E8;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space:nowrap; 
					padding: .65em .5em;
                }
                .description{
                	height: 50px;
					font-size: .9em;
					padding: .6em;
					color: #777;
					line-height: 1.4em;
					overflow: hidden;
                }
                .setting-project{
                    display: none;
                }
                &:hover{
                    >.setting-project{
                        display: block;
                    }
                }
            }
        }
        .edit-project{
            &:hover{
                &:after{
                    border-right-width: 3.2em;
                    border-bottom-width: 3.2em;
                }
            }
        }
    }

    .del-project{
        display: none;
        margin-top: 10px;
    }
}
