<section class="page-edit-file">
	<div class="option-holder">
		<div class="float-left">
			<div class="ui small header">{{file.name}}.md</div>
		</div>
		<div class="float-left">
			<div class="editor-msg"></div>
		</div>
		<div class="float-right">
			<div class="ui small buttons">
			  	<a class="ui button go-back">返回</a>
			  	<div class="or"></div>
			  	<div id="btnSaveFile" class="ui button green">保存</div>
			</div>
		</div>
	</div>
	<div class="editor-holder">
		<div id="editor" data-content="{{file.content}}" data-fid="{{file._id}}"></div>
		<div class="preview md-file"></div>
	</div>
</section>

<script src="/libs/ace/ace.js"></script>
<script src="/libs/marked/marked.js"></script>
{{#if isproduction}}
    <script src="/javascripts/pro/edit-file.min.js"></script>
{{else}}
    <script src="/javascripts/sub/edit-file.js"></script>
{{/if}}