<section class="page-view-file">
	<div class="container">
		<div class="option-holder">
			<div class="left">
				<div class="ui huge header">{{file.name}}</div>
			</div>
			<div class="right">
				<a href="/editfile/{{file._id}}" class="ui button blue">
					<i class="pencil icon"></i>
					<span class="text">编写文档</span>
				</a>
			</div>
		</div>

		<article class="ui piled segment file-content md-file" data-md="{{file.content}}"></article>
	</div>
</section>

<script src="/libs/marked/marked.js"></script>